.header-inner {
  align-items: center;
  background: @il-brand-primary-studip;
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  justify-content: space-between;
}

.il-pagetitle {
  font-weight: 600;
  display: flex;
  font-size: 1rem;
  align-items: flex-end;
  padding-left: 35px;
  color: white;
}

.il-logo img {
  display: none; /* This will hide only the image inside the .il-logo container */
}
