//== STARTING HERE
// In this file we overwrite/edit/manage our custom changes
//## Our custom local variables


//== Define StudIP-ILIAS variables
//
//## These are our custom variables for the StudIP-ILIAS-Style
@il-brand-primary-studip: #28497c;
@il-brand-primary-studip-menu: #e7ebf1;
@il-brand-studip-text-color: white;
@il-icon-size-large: 32px;



//== Header
//
//## Custom Header Colors and sizes
@il-standard-page-header-height: 41px;
@il-metabar-entry-height: 41px;
@il-avatar-size: @il-icon-size-large;



//== Mainbar
//
//## Custom Mainbar Colors and Button sizes
@il-standard-page-header-bg-color: @il-brand-primary-studip;
@il-standard-page-header-page-title-color: white;
@il-mainbar-btn-bg-color: @il-brand-primary-studip-menu;
@il-mainbar-btn-bg-color-hover: @il-brand-primary-studip;
@il-mainbar-btn-border: 1px solid @il-brand-primary-studip;
@il-mainbar-btn-bg-color-engaged: @il-brand-primary-studip;
@il-mainbar-trigger-icon-filter: hue-rotate(350deg) saturate(8.7%) brightness(177.3%);


//== Footer
//
//## Custom Footer Colors and sizes
//** controls background color of the footer.
@il-footer-bg-color: @il-brand-primary-studip;
//** controls the color of the text in the footer.
@il-footer-color:@il-brand-studip-text-color;
//** controls the padding of the footer.
@il-footer-padding:0px 0 0px 5px;
//** controls the height of the footer.
@il-footer-height: 32px;
@il-footer-link-button-color: white; // Custom Footer Link Color variable


//== Glyphicons Path Fix
//
//## for more information: https://docu.ilias.de/goto_docu_pg_75028_367.html
@il-icon-font-path: "../../../../node_modules/bootstrap/fonts/";